<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
           <li class="navbar-brand"><a href="{% url 'index' %}">BRAND</a></li>
           <li class="navbar-link"><a href="{% url 'admin:index' %}">ADMIN</a></li>
           <li class="navbar-link"><a href="{% url 'basic_app:other' %}">OTHER</a></li>

        </ul>
      </div>
    </nav>

    <div class="container">
      {% block body_block %}

      {% endblock %}

    </div>

  </body>
</html>
